*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#carousel{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.carouselbox{
    height: 400px;
    width: 70%;
    position: relative;
    overflow: hidden;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-items{
    height: 100%;
    width: 100%;
    position: absolute;
    transition:1s;
}

.carousel-items img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.caption{
    position: absolute;
    bottom: 50px;
    padding: 0px 100px;
    color: white;
    text-align: center;
}
.carousel-control{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding: 0px 20px;
}


.carousel-control > button{
    font-size: 25px;
    padding:5px;
}