*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    overflow: hidden;
    background-color: black;
}

#main-page{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    position: relative;
}

.hexagon {
    position: relative;
    width: 5vmax;
    height: 5vmax;
    background-image: linear-gradient(to right, rgb(2, 2, 37) 0% 50%, rgb(44, 44, 61) 50% 100%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-top: -1.1vmax;
}

.hexagon:nth-of-type(even){
    margin-left: -2.5vmax;
    
}
.hoverbox{
    height: 30vmax;
    width: 30vmax;
    background-image: radial-gradient(red,rgba(255, 0, 0, 0.635),transparent,transparent);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    filter: blur(10px);
    position: absolute;
    border-radius: 50%;
    display: none;
}
.hexagon:hover{
    background-image: linear-gradient(to right, rgb(56, 4, 4) 0% 50%, rgb(61, 44, 44) 50% 100%);
}